/** TOMORROW, I'LL ...
Original by 7185 for 8chan - upadted by Danish for endchan
https://github.com/thedanish/endchan-tomorrow
**/
body {
  background: #1D1F21 none;
  color: #C5C8C6;
  font-family: helvetica
}
.boardHeader p, .noEmailName, .noEmailName:hover, .linkSelf, .linkQuote, .hideLink, .threadPages span, .close-btn {
  color: #C5C8C6!important
}
html nav a, a[id^='hide'], a:link, a:visited, a:active, .quoteLink, .linkName {
  color: #81A2BE;
  text-decoration: none
}
a:hover {
  color: #5F89AC!important
}
.innerPost, .markedPost {
  background-color: #282A2E;
  border-color: #1D1F21!important
}
a.linkPreview {
  display: none
}
hr {
  border-color: #3C3F45
}
.red {
  color: #F20
}
.labelSubject {
  color: #B294BB
}
.hideLink {
  font-weight: bold;
  padding-right: 2px
}
.uploadDetails {
  width: 255px;
  word-break: break-all
}
.greenText {
    color: #ADBD68
}
nav {
  background-color: #282A2E;
  border-bottom: 1px solid #111
}
.threadPages {
  background: #282A2E none repeat scroll 0% 0%;
  border-color: #111;
  font-size: 100%;
}
#divPages {
  background: #282A2E none repeat scroll 0% 0%
}
.contentAction {
  background-color: #282A2E;
  border-color: #111
}
#modeBanner {
  color: #FFF;
  background-color: #1D1F21
}
#quick-reply table {
    background: #1D1F21 none repeat scroll 0% 0%;
    border-color: #111
}
th {
  background-color: #282A2E!important
}
/* reply thumbnails */
.innerPost .imgLink img {
  width: auto;
  height: auto;
  max-height: 200px;
  max-width: 200px
}
img.imgExpanded {
  max-height: none!important;
  max-width: none!important
}
